Package: pkg-virtstat
Version: 1.0
Architecture: i386
Maintainer: Carlos Alvarez Barba <sharlie89@gmail.com>
Installed-Size: 39
Depends: smem, gawk
Section: unknown
Priority: extra
Homepage: https://github.com/Sharlie89/pkg-VirtStat.git
Description: Shell script tool for KVM
 VirtStat is a shell script tool for KVM.
 This tool allows you to extrac RAM and CPU usage
 by guests. Also is able to copy directories/files
 to other KVM hosts or execute remote commands on
 hosts.
